* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.maincontainer{
    overflow-x: hidden;
    width: 100%;
}


.contentcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.slide{
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: slideinopacity 1s cubic-bezier(0, 0.5, 0.14, 0.95);
}


.slide::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.header{
    width: 1000px;
    height: 70px;
    background-color: rgb(159, 138, 96);
    animation: slideinopacity2 1.5s cubic-bezier(0, 0.5, 0.14, 0.95); 
    position: relative;
    z-index: 2;  
}

.body{
    position: relative;
    z-index: 2;
}


.info{
    color: rgb(255, 217, 141);
    padding-left: 80px;
    font-family: "Hind", sans-serif;
    animation: slideinopacity4 1s cubic-bezier(0, 0.83, 0.14, 0.95);
    text-align: center;
}

.name{
    font-family: "Hind", sans-serif;
    padding-left: 30px;
    font-style: italic;
    font-size: 50px;
    cursor: pointer;
    white-space: nowrap;
    animation: slideinopacity3 1s cubic-bezier(0, 0.5, 0.14, 0.95);
    animation-play-state: running;
    color: white;
    text-align: center;
    
}

.name:hover{
    text-shadow: 0 0 8px rgb(222, 222, 222);
}

#slide2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontainer{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}




.dots{
    position: absolute;
    bottom: 40px;
    left: 50%;
    text-align: center;
    z-index: 1;
    animation: zoomout 1s cubic-bezier(0, 0.75, 0.14, 0.95);
}

.dot{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    
}

.dot.active{
    background-color: white;
}





.header2{
    width: 1400px;
    height: 500px;
    background-color: rgba(97, 83, 55, 0.462);
    animation: slideopacity 1.5s cubic-bezier(0, 0.5, 0.14, 0.95);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.body2{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name2{
    font-family: "Hind", sans-serif;
    font-style: italic;
    font-size: 50px;
    cursor: pointer;
    white-space: nowrap;
    animation: slideopacity 1s cubic-bezier(0, 0.5, 0.14, 0.95);
    animation-play-state: running;
    color: white;
    
    text-align: end;
}









.info2{
    color: rgb(255, 217, 141);
    font-family: "Hind", sans-serif;
    animation: slideinopacity4 1s cubic-bezier(0, 0.83, 0.14, 0.95);
    font-size: 25px; 
    text-align: center; 
    padding-right: 200px;
     
}

.body3{
    position: relative;
    z-index: 2;
}

.slide3 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header3 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 1400px;
    height: 500px;
    background-color: rgba(97, 83, 55, 0.462);
    animation: slideinopacity2 1.5s cubic-bezier(0, 0.5, 0.14, 0.95);
    position: relative;
    z-index: 2;
}

.body3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name3 {
    padding-top: 80px;
    font-size: 2em;
    margin-bottom: 8px;
    font-family: "Hind", sans-serif;
    font-style: italic;
    font-size: 50px;
    cursor: pointer;
    white-space: nowrap;
    animation: slideopacity 1s cubic-bezier(0, 0.5, 0.14, 0.95);
    animation-play-state: running;
    color: white;
}

.info3 {
    font-size: 1.2em;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
}


.awardimage{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}




.awardimage:hover{
    animation: secondscale 1s cubic-bezier(0, 0.5, 0.14, 0.95);
}
.awardimage:hover{
    opacity: 0.9;
}

.awardimage:hover p{
    display: block;
}

p{
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
   text-shadow: 1px 1px 10px black;
   display: none;
   z-index: 2;
}

.slide.active{
    display: block;
}

/* KEYFRAMES */

@keyframes slideinopacity4 {
    from{
        opacity: 0;
        transform: translateX(150px);
    }

    to{
        opacity: 1;
        transform: translateX(0); 
    }
}

@keyframes opacitydown {
    from{
        opacity: 1;
    }

    to{
        opacity: 0.2;
    }
}

@keyframes position {
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(20px);
    }
}

@keyframes opacity {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes secondscale {
    from{
     transform: scale(1);
    } 
    to{
     transform: scale(1.1);
    }
 }

 @keyframes slideopacity {
    from{
        transform: translateX(135px);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes zoomout {
    from{
        transform: scale(0.2);
    }

    to{ 
        transform: scale(1); 
    }
}

@keyframes slideinopacity {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }

    to{
        opacity: 1; 
        transform: translateY(0); 
    }
}

@keyframes slideinopacity2 {
    from{
        transform: translateX(-150px);
    }

    to{
        transform: translateX(0); 
    }
}


@keyframes slideinopacity3 {
    from{
        opacity: 0;
        transform: translateY(150px);
    }

    to{
        opacity: 2;
        transform: translateY(0); 
    }
}

@keyframes scale {
    from{
        transform:scale(1);
    }

    to{
        transform: scale(1.1);
    }
}


@keyframes scaleout {
    from{
        transform:scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

.secondpage{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5a888;
    
}

.countdowntimer{
    height: 120px;
    width: 100%;
    background-color:  #c5a888;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    z-index: 2;   
}

.packagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
    width: 100%;
    height:500px;
    flex-direction: column;
}

.packagecontainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
    background-color: white;
    width: 100%;
    height: 300px;
    flex-direction: row;
}

.package{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.package:hover{
    animation: secondscale 1s cubic-bezier(0, 0.5, 0.14, 0.95);
}
.package:hover{
    opacity: 0.9;
}

.package:hover p{
    display: block;
}

.firstheader{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: rgb(113, 102, 81);
    z-index: 2;
    animation-play-state: paused;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    overflow-x: hidden;
}

/* Button style */
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(164, 149, 117); /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

/* Hover style */
button:hover {
    background-color: rgb(23, 21, 17); /* Darker green background on hover */
}

.beginner{
    width: 100%;
    height: 20px;
    background-color: red;
}

span{
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
   text-shadow: 1px 1px 10px black;
   z-index: 2;
}

.CONTAINERCONTAINER{
    height: 900px;
    display: flex;
    flex-direction: column;
}

.pickaclass{
    background-color: #995448;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.joinaclass{
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #995448;
    height: 540px;
    text-align: justify;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-style: italic;
    font-weight: bold;
    animation: slideinopacity 1s cubic-bezier(0, 0.5, 0.14, 0.95);
}


.firstheader{
    display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.navpart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-right: 90px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}

.firstheader h5 {
    color: wheat;
    margin-left: 90px;
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }
  
  .headerinfo {
    color: white;
    font-family: "Dancing Script", cursive;
  }

nav a{
    color: white;
    text-decoration: none;
}


nav a:hover {
    color: rgb(23, 21, 17); /* Darker green background on hover */
}

.hidden {
    display: none;
}

.buttons {
    text-align: center;
    display: flex;
    gap: 20px;
}



input, button {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 10px;
}

button {
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 90px;
}

a{
    color: white;
    text-decoration: none;
}

.buttons button:active {
    background-color: ;
}





